*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    background-color: rgb(120, 95, 145);   
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel{
    width: 80%;
    height: 80%;
    border-radius: 10px;
overflow: hidden;
    background-color: #fff;
}
.ptop{
    padding: 0 30%;
    align-items: center;
justify-content: space-between;
    display: flex;
    align-items: center;
 width: 100%;
 color: #fff;
 height: 100px;
 background-color: rgb(89, 69, 109);   
}


.elem{
align-items: center;
gap: 20px;
display: flex;

}
.elem h3{
    font-size: 22px;
    font-weight: 500;
}
.box{
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    font-weight: 600;
    font-size: 25px;
    color: rgb(102, 69, 109);
}
.pbtm{
color: rgb(26, 1, 18);
    display: flex;
    justify-content:center ;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 100px);
padding: 20px;
text-align: center;
font-family: monospace;
}.pbtm button{
    padding: 15px 23px;
    font-size: 20px;

    border-radius: 20px;
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(98, 72, 114);
}
.bubble:hover{
    cursor: pointer;
    background-color: rgb(76, 50, 73);
}
